#profile {
  margin-top: 10rem;
  background: $color-primary;
  height: 600px;

  .profile-img {
    position: relative;
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      transform: translateY(-74px);
      height: 675px;
    }
  }

  .profile-content {
    overflow: hidden;
    .content {
      h2 {
        font-size: 2.6rem;
      }
      p {
        &:first-of-type {
          font-size: 1.2rem;
          font-weight: 400;
          font-family: "Roboto Condensed", sans-serif;
        }
        &:last-of-type {
          font-family: "Raleway", sans-serif;
          font-weight: 500;
        }
      }

      a {
        border-radius: 0;
        border: #eee 2px solid;
        font-size: 1.5rem;
        font-weight: 300;
      }
    }
  }
}
